*{
width: 98;
margin: 7;
padding: auto;
font-family: 'Times New Roman', Times, serif;
color:white;
}
h1.titulo{
    color: white;
    padding:18%;
    font-size: 3rem;
    line-height:normal;
    text-align: center;
}
/*barra de arriba*/
.navbar{
background: rgb(13, 1, 55) !important;
}

.bg-blacks{
    background-color:transparent;
}
.list-group-item{
--bs-list-group-bg:transparent;
}
.list-group{
    --bs-border-color: transparent;
  }
/* hasta aca va la barra*/

/* parte de redes, iconos*/
    .fa-brands.fa-square-facebook.fa-2x:hover{
        --bs-text-opacity: 1;
        color: rgb(3, 3, 122) !important;
    }
    .fa-brands.fa-instagram.fa-2x:hover{
        --bs-text-opacity: 1;
        color:rgb(228, 17, 17) !important;
    }
    .fa-solid.fa-user-lock.fa-2x:hover{
        --bs-text-opacity: 1;
        color:rgb(2, 152, 35) !important;
    }
    /* fin parte de redes, iconos*/
    
    /* encabezado, mi nombre*/
    section.banercito{
       background-image:url(/Img/Baner.jpg);
       background-repeat: no-repeat;
       background-position: center;      
       background-size: cover;
       position: relative;
       left: 0;
       justify-content: center;
       width: 100%;
       height: 70vh;
       position: relative;
       background-size:cover;
       -msn-blackground-size:cover;
       -moz-background-size: cover;
       -webbkit-background-size:cover;
      
    }
/* fin encabezado, mi nombre*/

        /*estilos para progreso rombo*/
.progress-section{text-align: center; padding: 80px 0px; background: #ffffff;} /* fondo*/
.progress-section h1{ margin-bottom:70px; color:#ffffff;}

.progress-bars{ margin: auto; background: #ffffff; width: 120px; height: 120px; transform: rotate(45deg); position: relative;} /*fondo dentro del rombo*/
.progress-bars h2 { margin:auto; text-align: center; transform: rotate(-45deg);} /*alineacion del texto*/
.progress-bars:before{position: absolute; content: ""; border: solid 5px #595959; border-width: 5px 0px 0px 5px; width: 140px/*aca cambia la linea de arriba*/; height: 140px/*aca cambia la linea de arriba*/; top: -9px; left: -9px; bottom: -9px; right: -9px; z-index: 10;} /*linea de color blanca*/
.progress-bars:after{position: absolute; content: ""; border: solid 5px #2bb0ef; border-width: 5px 5px 5px 5px; width: 140px/*aca cambia la linea de abajo*/; height: 140px/*aca cambia la linea de abajo*/; top: -9px; left: -9px; bottom: -9px; right: -9px;} /*linea de color celeste*/

.progress-bars-four{ margin: auto; background: #fff; width: 120px; height: 120px; transform: rotate(45deg); position: relative;}
.progress-bars-four h2 { line-height: 120px; text-align: center; transform: rotate(-45deg);}
.progress-bars-four:before{position: absolute; content: ""; border: solid 5px #595959; border-width: 5px 0px 0px 5px; width: 120px; height: 120px; top: -9px; left: -9px; bottom: -9px; right: -9px; z-index: 10;}
.progress-bars-four:after{position: absolute; content: ""; border: solid 5px #2bb0ef; border-width: 5px 5px 5px 5px; width: 140px; height: 140px; top: -9px; left: -9px; bottom: -9px; right: -9px;}

.progress-bars-six{ margin: auto; background: #fff; width: 120px; height: 120px; transform: rotate(45deg); position: relative;}
.progress-bars-six h2 { line-height: 120px; text-align: center; transform: rotate(-45deg);}
.progress-bars-six:before{position: absolute; content: ""; border: solid 5px #595959; border-width: 5px 0px 0px 5px; width: 90px; height: 90px; top: -9px; left: -9px; bottom: -9px; right: -9px; z-index: 10;}
.progress-bars-six:after{position: absolute; content: ""; border: solid 5px #2bb0ef; border-width: 5px 5px 5px 5px; width: 140px; height: 140px; top: -9px; left: -9px; bottom: -9px; right: -9px;}


.progress-bars-seven{ margin: auto; background: #fff; width: 120px; height: 120px; transform: rotate(45deg); position: relative;}
.progress-bars-seven h2 { line-height: 120px; text-align: center; transform: rotate(-45deg);}
.progress-bars-seven:before{position: absolute; content: ""; border: solid 5px #595959; border-width: 5px 0px 0px 5px; width: 70px; height: 70px; top: -9px; left: -9px; bottom: -9px; right: -9px; z-index: 10;}
.progress-bars-seven:after{position: absolute; content: ""; border: solid 5px #2bb0ef; border-width: 5px 5px 5px 5px; width: 140px; height: 140px; top: -9px; left: -9px; bottom: -9px; right: -9px;}

/*fin de progreso del rombo*/
